In [1]:
import pandas as pd
import numpy as np

In [3]:
db2019 = pd.read_csv("dataset/broadband_data_2019November.csv")
db2020 = pd.read_csv("dataset/broadband_data_2020October.csv")
dbzipcode = pd.read_csv("dataset/broadband_data_zipcode.csv")

In [5]:
db2019.head()

,ST,COUNTY ID,COUNTY NAME,BROADBAND AVAILABILITY PER FCC,BROADBAND USAGE
0,AL,1001,Autauga County,0.81,0.28
1,AL,1003,Baldwin County,0.88,0.30
2,AL,1005,Barbour County,0.59,0.18
3,AL,1007,Bibb County,0.29,0.07
4,AL,1009,Blount County,0.69,0.09

In [6]:
db2020.head()

,Data is to be used only for analysis purposes related to broadband mapping,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,For questions contact bbdata@microsoft.com,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,Broadband availability in the United States ba...,NaN,NaN,NaN,NaN
3,Fourteenth Broadband Deployment Report: https:...,NaN,NaN,NaN,NaN
4,Form 477 data as of December 2019,NaN,NaN,NaN,NaN

In [7]:
dbzipcode.head()

,ST,COUNTY NAME,COUNTY ID,POSTAL CODE,BROADBAND USAGE,ERROR RANGE (MAE)(+/-),ERROR RANGE (95%)(+/-),MSD
0,SC,Abbeville,45001,29639,0.948,0.034,0.110,0.002
1,SC,Abbeville,45001,29620,0.398,0.002,0.007,0.000
2,SC,Abbeville,45001,29659,0.206,0.152,0.608,0.043
3,SC,Abbeville,45001,29638,0.369,0.010,0.031,-0.001
4,SC,Abbeville,45001,29628,0.221,0.014,0.043,0.000